.container{
    padding: 1.3rem;
    background: rgb(255,253,253);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.backDropContainer{
    width: 100%;
    /* width: 80vw; */
    height: 30vh;
    background:url("https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg") ;
    background-size: cover;
    background-repeat:none ;
    position: relative;
    border-radius: 1.2rem;


}

.backDropContainer  img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    bottom: 10%;
    left: 3%;
    text-align: center;

}

.profileContainer_details{
    padding-top: 2rem;

}

.card{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.card_profileContainer{
    display: flex;
}

.cardDrop{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
    position: relative;

}


.backDrop_overlay{
     width: 10em;
    height: 10em;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    bottom: 10%;
    left: 3%;
    text-align: center;
     z-index: 4;
     transition: all 0.4s;
    cursor: pointer;
    opacity: 0.0;
display: flex;
justify-content: center;
align-items: center;

}

.backDrop_overlay:hover{
    background: rgb(100, 104, 103);
   color: rgb(255, 250, 254);
    opacity: 0.8;
}
.connetBtn{
    padding-inline: 0.8rem ;
    padding-block: 0.3rem;
    background: blue;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
}

.connectedButton{
    padding-inline: 0.8rem ;
    padding-block: 0.3rem;
    background: rgba(3,93,183,0.905);
    outline: none;
    border: none;
    color: rgba(3,93,183,0.905);
    border-radius: 0.8rem;
    cursor: pointer;
}

.workHistoryContainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
    
}



.workHistoryCard{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 0.8rem;
 border: 2px dotted rgb(18, 10, 247);
     box-shadow: 10px 10px 15px rgb(140, 136, 141);
    justify-content: center;
    align-items: center;
}

.profileContainer_details >input{
    outline: none;
    border-style: none;
    padding-inline: 0.8rem;
    padding-block:0.8rem;
}
.nameEdit{
    border: 1px dotted silver;
     padding-inline:10px;
    padding-block: 10px;
    font-size: 1.5rem;
    font-weight: bold;

}

.updateProfileBtn{
    padding-inline: 0.8rem ;
    padding-block: 0.3rem;
    background: blue;
     border: 2px solid blue;
    outline: none;
    /* border: none; */
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;
    width: fit-content;
}

.updateProfileBtn:hover{
    border: 2px solid rgb(0, 229, 255);
    color: rgb(0, 26, 255);
    background:  rgb(250, 250, 252);

}


.textareaX{
    outline: none;
    border: none;
    padding-inline:10px;
    padding-block: 10px;
    font-family: "poppins" !important;
    font-size: 1.3rem;
    /* width: fit-content !important; */
    /* border: 2px solid red; */
    resize: none;


}

.addWorkButton{
    border-style: dotted;
    padding-inline: 1.3rem;
    background: white;
    padding-block: 1.2rem;
    border: 1px solid rgb(168, 76, 248);
    cursor: pointer;
    border-radius: 0.8rem;
    


}


.commentsContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0,0,0,0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;

}


.allCommentsContainer{

  width: 40vw;
  height: 50vh;
  background: white;
  position: relative;
  border-radius: 0.8rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.postCommentContainer{
  position: absolute;
  bottom: 1.2erm;
  left: 1.2rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;


  
}


.inputField{
    padding-inline:1.3rem ;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width:100% ;


}

.card_profileContainer > img{
    width: 15rem;
    height: 10rem;
}



.card_profileContainer > img{
    width: 10rem;
    height:  auto;
    height: 5rem;
    object-fit: cover;
}

.commentsContainer > svg {
  position: absolute;
  top: 26%;
  right: 31%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: rgb(249, 6, 6);
  z-index: 3 ;
}

@media only screen and (max-width:600px){
    .profileContainer_details{
        flex-direction: column;
    }
    .nameEdit{
        width: 10rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .allCommentsContainer{
        width: 85vw;
        height: 50vh;
    }
      .commentsContainer > svg{
      right: 2.5rem;
    }
 
    
    

}
