.container{
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}



.mainContainer_right img{
    height: 25rem;
    width: 35rem;
    
}
.mainContainer_right{
    flex: 0.5;
    /* padding: 5rem; */
}
 .mainContainer_left{
    flex: 0.6   ;
    
} 


.mainContainer_left> p:nth-child(1){
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg,rgb(0, 0, 0),silver);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

}
.mainContainer_left > p:nth-child(2){
    font-size: 1.8rem;

} 

.mainContainer_left > div.buttonJoin{
    width: fit-content;

    cursor:pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: rgb(175, 8, 236);;
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 1.3rem;
    border: 2px solid rgb(129, 4, 238);

}

div.buttonJoin:hover{
    background: white;;
    color: rgb(175, 8, 236);


}


@media only screen and (max-width:600px){
    .mainContainer{
        flex-direction: column;
        gap: 2rem;
        padding-top: 1.3rem;


    }
    .mainContainer_left{
        flex: 5;
        padding-top: 1.5rem;
    }

    .mainContainer_right{
        float: 5;
    }
    .mainContainer_right img{
        width: 100%;
    }
}