.Container{
    padding: 1.2rem;
    margin-top:-1rem;
    height: 5.8rem;
    /* border: solid black; */
   
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarOptions{
    /* display: flex; */
    /* position: absolute; */
     /* margin-right: 6%; */
     /* top: 5%;
     margin-left: 65%; */


    

}

.navbarOptions_div{
    display: flex;
}

.buttonJoin{
    
    /* width: fit-content; */
    font-size: 1.4rem;
    cursor:pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: rgb(255, 6, 155);
    color: white;
    /* padding-inline: 1.2rem; */
    /* padding-block: 1rem; */
    border-radius: 1.3rem;
    border: 2px solid rgb(255, 6, 155);
    height: 2.3rem;
    width: 8rem;
    text-align: center;
    

}
.buttonJoin > p{
    padding-bottom: 0.2rem;
}

.buttonJoin:hover{
    background: white;;
    color: rgb(255, 6, 155);


}



.profile{
       font-size: 1.2rem;
    /* bakground: rgb(6, 193, 255); */
    /* color: white; */
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 1.3rem;
    /* border: 2px solid rgb(6, 193, 255); */
/*  */
}

@media only screen and (max-width:600px){
    .buttonJoin{
        padding: 0vh;
        /* margin: 2vw; */
        margin-right: -5vh;
        text-align: center;
        margin-right: 0.5rem;
         width: fit-content;
    height: 2.5rem;
    width: 6rem;
    font-size: 0.8rem;
    /* padding-left: 1.5rem; */
    padding-top: 0.4rem;
    border: solid rgb(84, 76, 98);
    
    }
    .buttonJoin > p {
        font-size: 1.1rem;
    }
    .Container{
        background: rgb(226, 229, 223);

    }
}